@*John Berthelsen*@
@*Home Page HTML*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission #3";
}

<!--Header-->
<h1>John Berthelsen</h1>

<!--Fun Image-->
<img src="img/JohnScuba.jpg"
        width="350"
        height="450"
        align-items="center" />
<br />

<!--IS 413 Expectations-->
<form style="outline: 5px solid red; width: 600px; padding-top: 30px; padding-right: 30px; padding-bottom: 15px; padding-left: 30px; align-content: center; align-items: center; display: flex; flex-direction: column; justify-content: center; outline: 5px solid red; margin-bottom: 25px; margin-left: auto; margin-right: auto;">
    <p>
        Upon completion of the IS 413 course, I hope I will have gained a greater understanding of ASP.NET
        and have become more proficient in C#. As I study Enterprise Application Development, I hope to learn
        the basics of the programs and tools used by developers in business. I look forward to working with
        my group on future projects and what I can learn from them. Most of all, I look forward to applying
        what I learn to my own business in the near future.
    </p>

    <!--Interesting Jobs-->
    <p>The 3 jobs I am most interested in upon graduating are:</p>
    <ul>
        <li>Pilot</li>
        <li>Skydiver</li>
        <li>Web Developer</li>
    </ul>
</form>